{{ console.log(ctx) }}
<fieldset class="usa-fieldset">
  <legend class="usa-legend usa-sr-only">{{ctx.component.label}}</legend>
  <div class="usa-memorable-date"
    role="group"
    {% if (ctx.component.hideLabel) { %}
    aria-label="{{ctx.component.label}}"
    {% } else { %}
    aria-labelledby="l-{{ctx.instance.id}}-{{ctx.component.key}}"
    {% } %}
    {% if (ctx.component.description) { %}
    aria-describedby="d-{{ctx.instance.id}}-{{ctx.component.key}}"
    {% } %}
  >
    {% if (ctx.dayFirst && ctx.showDay) { %}
    <div class="usa-form-group usa-form-group--day">
      <label for="{{ctx.component.key}}-day"
        class="usa-label {% if (ctx.component.hideInputLabels) { %}usa-sr-only{% } %} {% if(ctx.component.fields.day.required) { %}field-required{% } %}"
      >{{ctx.t('Day')}}</label>

      <input class="usa-input usa-input--inline"
        id="{{ctx.component.key}}-day"
        {% if (ctx.component.fields.day.placeholder) { %}placeholder="{{ctx.component.fields.day.placeholder}}"{% } %}
        aria-describedby="d-{{ctx.instance.id}}-{{ctx.component.key}}"
        type="number" min="1" max="31" value="">
    </div>
    {% } %}

    {% if (ctx.showMonth) { %}
    <div class="usa-form-group usa-form-group--month">
      <label for="{{ctx.component.key}}-month"
        class="usa-label {% if (ctx.component.hideInputLabels) { %}usa-sr-only{% } %} {% if(ctx.component.fields.month.required) { %}field-required{% } %}"
      >{{ctx.t('Month')}}</label>

      <input class="usa-input usa-input--inline"
        id="{{ctx.component.key}}-month"
        {% if (ctx.component.fields.month.placeholder) { %}placeholder="{{ctx.component.fields.month.placeholder}}"{% } %}
        aria-describedby="d-{{ctx.instance.id}}-{{ctx.component.key}}"
        type="number" min="1" max="12" value="">
    </div>
    {% } %}

    {% if (!ctx.dayFirst && ctx.showDay) { %}
    <div class="usa-form-group usa-form-group--day">
      <label for="{{ctx.component.key}}-day"
        class="usa-label {% if (ctx.component.hideInputLabels) { %}usa-sr-only{% } %} {% if(ctx.component.fields.day.required) { %}field-required{% } %}"
      >{{ctx.t('Day')}}</label>

      <input class="usa-input usa-input--inline"
        id="{{ctx.component.key}}-day"
        {% if (ctx.component.fields.day.placeholder) { %}placeholder="{{ctx.component.fields.day.placeholder}}"{% } %}
        aria-describedby="d-{{ctx.instance.id}}-{{ctx.component.key}}"
        type="number" min="1" max="31" value="">
    </div>
    {% } %}

    {% if (ctx.showYear) { %}
    <div class="usa-form-group usa-form-group--year">
      <label for="{{ctx.component.key}}-year"
        class="usa-label {% if (ctx.component.hideInputLabels) { %}usa-sr-only{% } %} {% if(ctx.component.fields.year.required) { %}field-required{% } %}"
      >{{ctx.t('Year')}}</label>

      <input class="usa-input usa-input--inline"
        id="{{ctx.component.key}}-year"
        {% if (ctx.component.fields.year.placeholder) { %}placeholder="{{ctx.component.fields.year.placeholder}}"{% } %}
        aria-describedby="d-{{ctx.instance.id}}-{{ctx.component.key}}"
        type="number"
        min="{{ !!ctx.component.fields.year.minYear ? ctx.component.fields.year.minYear : 1900 }}"
        max="{{ !!ctx.component.fields.year.maxYear ? ctx.component.fields.year.maxYear : 2019 }}" value="">
    </div>
    {% } %}
  </div>
</fieldset>
