<div class="formio builder grid-row grid-gap formbuilder">
  <div class="grid-col-4 mobile:grid-col-3 tablet:grid-col-2 formcomponents">
    {{ctx.sidebar}}
  </div>
  <div class="grid-col-8 mobile:grid-col-9 tablet:grid-col-10 formarea" ref="form">
  <div class="formio-drop-zone" ref="iframeDropzone"></div>
    {{ctx.form}}
  </div>
</div>
