{% ctx.component.columns.forEach(function(column, index) { %}
<div
  class="{{ctx.size(column.size)}}:grid-col-{{column.width}} grid-offset-{{column.offset}}"
  ref="{{ctx.columnKey}}"
>
  {{ctx.columnComponents[index]}}
</div>
{% }) %}
