{% ctx.component.columns.forEach(function(column, index) { %}
<div
  class="tablet:grid-col-{{column.width}} grid-offset-{{column.offset}}"
  ref="{{ctx.columnKey}}"
>
  {{ctx.columnComponents[index]}}
</div>
{% }) %}
