<div
  id="{{ctx.id}}"
  class="usa-form-group grid-row grid-gap
    {% if (ctx.component.type !== 'columns') { %}
      flex-column flex-align-start
    {% } %}
  "
  {% if (ctx.styles) { %} styles="{{ctx.styles}}"{% } %}
  ref="component"
>
  {% if (ctx.visible) { %}
  {{ctx.children}}
  {% } %}
</div>