<div
  id="{{ctx.id}}"
  class="{{ctx.component.customClass}} formio-component-{{ctx.component.type}} formio-form-group {{!ctx.self.hasInput ? 'usa-prose ' : ''}}{{!ctx.visible ? 'formio-hidden' : ''}}"
  {% if (ctx.styles) { %} styles="{{ctx.styles}}"{% } %}
  ref="component"
>
  {% if (ctx.visible) { %}
  {{ctx.children}}
  {% } %}
</div>
