<div
  id="{{ctx.id}}"
  class="{{ctx.component.customClass}} formio-component-{{ctx.component.type}} {{ctx.self.hasInput ? 'usa-form-group ' : 'usa-prose '}}{{!ctx.visible ? 'usa-hidden' : ''}}"
  {% if (ctx.styles) { %} styles="{{ctx.styles}}"{% } %}
  ref="component"
>
  {% if (ctx.visible) { %}
  {{ctx.children}}
  {% } %}
</div>
