@mixin firefox-only {
  @at-root {
    @-moz-document url-prefix() {
      & {
        @content;
      }
    }
  }
}

$color-primary: #005ea2;
$color-light: #c9c9c9;
$color-lighter: #f0f0f0;
$color-lightest: #fff;
$color-dark: #000;

.usa-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid $color-dark;
  border-radius: .25rem;
}

.usa-card-body {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.usa-card-header {
  position: relative;
  display: flex;
  padding: .5rem;
  margin-bottom: 0;
  margin-top: 1px;
  border-bottom: 1px solid $color-dark;
  border-radius: .25rem .25rem 0 0;
  background-color: $color-lighter;
}

.usa-card-title {
  margin-bottom: 0.75rem;
  font-size: 1.2rem;
}

.usa-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.usa-page-link {
  border-radius: 0px;
  margin-right: 0px;
  margin-left: -2px;
}

.usa-page-item:first-child .usa-page-link {
  margin-left: 0px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.usa-page-item:last-child .usa-page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.usa-page-item {
  margin-bottom: 0.25em !important;
}

ul.usa-sidenav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1px;
  border-bottom: 1px solid $color-dark;
}

.usa-sidenav__item {
  border-top: 0px;
}

.usa-sidenav__item.active {
  position: relative;
  color: $color-primary;
  font-weight: bold;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0.25rem;
    top: 0.25rem;
    width: 0.25rem;
    left: 0;
    background-color: $color-primary;
    border-radius: 99rem;
  }
}

.usa-input--error.usa-select, .usa-input--success.usa-select {
  height: auto;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
}

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: $color-lightest;
  text-align: center;
  background-color: $color-dark;
  border-radius: 0.25rem;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.word-wrap {
  word-wrap: break-word;
}

.usa-accordion__button {
 &.non-collapsible-panel--button {
   background-image: none;

   &:hover {
      background-color: $color-lighter;
      cursor: auto;
   }
 }
}

.usa-table {
  caption {
    caption-side: top;
    color: $color-dark;
  }
}

.usa-form-group {
  margin-bottom: 20px;
  .usa-checkbox__label, .usa-radio__label {
    @include firefox-only {
      padding-left: 0rem;
      text-indent: 0rem;
    }
  }
}

.usa-fieldset .usa-legend {
  font-size: 1.5rem;
}

.wizard-page {
  margin: 20px 0;
}

.nav-container {
  display: flex;
  @media not all and (min-width: 30em) {
    flex-direction: column;
  }
  & li .usa-button {
    margin-bottom: 0.25em;
  }
}

.builder-group-button {
  background-color: #f0f0f0;
}

.form-builder-group-header {
  h5 {
    margin: 0 0 5px 0;
  }
}

.form-builder-panel {
  .usa-button {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 5px;
  }
}

pre {
  background-color: #f0f0f0;
  padding: 1em;
}

.usa-label {
  margin-top: 0 !important;
  margin-bottom: 0;
}

.usa-prose > p {
  max-width: 100% !important;
}

.stepper-row {
  display: flex;
  height: 8px; 
  margin-top: 1rem;
  outline-width: 1px !important;
  outline-offset: 2px !important;
  border: 1px solid transparent;
}

.stepper-item {
  flex: 1;
  margin-left: 2px;
  margin-right: 2px;
  background-color: $color-light;
}

.stepper-item-active {
  background-color: $color-primary;
}

.stepper-info {
  outline: none !important;
  margin-top: 0.6rem;
  margin-left: 0.3rem;
  font-size: 1.2rem;
}

.stepper-info-step {
  display: inline-block;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 50%;
  text-align: center;
  background-color: $color-primary;
  color: $color-lightest;
  font-weight: 500;
}

.stepper-info-total {
  font-weight: 400;
}

.stepper-info-text {
  font-weight: 600;
}

.has-error, .has-success {
  display: none;
}

.has-error .help-block {
  color: #b50909;
}

.has-success .help-block {
  color: #00a91c;
}

.usa-radio__input:disabled:checked + .usa-radio__label::before {
  -webkit-box-shadow: 0 0 0 2px $color-light, inset 0 0 0 3px $color-lightest;
          box-shadow: 0 0 0 2px $color-light, inset 0 0 0 3px $color-lightest;
}

span[role="link"] {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.flatpickr-current-month .flatpickr-monthDropdown-months:focus,
.flatpickr-current-month input.cur-year:focus {
  outline: 2px solid $color-primary !important;
}

.flatpickr-wrapper {
  display: block !important;
}

@media print {
  div[class*=":grid-col-1"] {
    -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
    width:8.3333333333%;
  }

  div[class*=":grid-col-2"] {
    -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
    width:16.6666666667%;
  }

  div[class*=":grid-col-3"] {
    -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
    width:25%;
  }

  div[class*=":grid-col-4"] {
    -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
    width:33.3333333333%;
  }
  
  div[class*=":grid-col-5"] {
    -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
    width:41.6666666667%;
  }

  div[class*=":grid-col-6"] {
    -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
    width:50%;
  }
  
  div[class*=":grid-col-7"] {
    -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
    width:58.3333333333%;
  }
  
  div[class*=":grid-col-8"] {
    -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
    width:66.6666666667%;
  }
  
  div[class*=":grid-col-9"] {
    -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
    width:75%;
  }
  
  div[class*=":grid-col-10"] {
    -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
    width:83.3333333333%;
  }
  
  div[class*=":grid-col-11"] {
    -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
    width:91.6666666667%;
  }
  
  div[class*=":grid-col-12"] {
    -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
    width:100%;
  }

  .usa-checkbox__input:checked:disabled + .usa-checkbox__label::before {
    background-image: none;
    background-color: $color-light;
    -webkit-box-shadow: 0 0 0 2px $color-light, inset 0 0 0 3px $color-lightest;
    box-shadow: 0 0 0 2px $color-light, inset 0 0 0 3px $color-lightest;
    -webkit-print-color-adjust: exact;
    text-indent: 0;
  }
}
