@mixin firefox-only {
  @at-root {
    @-moz-document url-prefix() {
      & {
        @content;
      }
    }
  }
}

$color-primary: #005ea2;
$color-light: #c9c9c9;

.usa-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #000;
  border-radius: .25rem;
}

.usa-card-body {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.usa-card-header {
  position: relative;
  display: flex;
  padding: .5rem;
  margin-bottom: 0;
  margin-top: 1px;
  border-bottom: 1px solid #000;
  border-radius: .25rem .25rem 0 0;
  background-color: #f0f0f0;
}

.usa-card-title {
  margin-bottom: 0.75rem;
  font-size: 1.2rem;
}

.usa-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.usa-page-link {
  border-radius: 0px;
  margin-right: 0px;
  margin-left: -2px;
}

.usa-page-item:first-child .usa-page-link {
  margin-left: 0px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.usa-page-item:last-child .usa-page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.usa-page-item {
  margin-bottom: 0.25em !important;
}

ul.usa-sidenav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1px;
  border-bottom: 1px solid #000;
}

.usa-sidenav__item {
  border-top: 0px;
}

.usa-sidenav__item.active {
  position: relative;
  color: #005ea2;
  font-weight: bold;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0.25rem;
    top: 0.25rem;
    width: 0.25rem;
    left: 0;
    background-color: #005ea2;
    border-radius: 99rem;
  }
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
}

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.word-wrap {
  word-wrap: break-word;
}

.usa-accordion__button {
 &.non-collapsible-panel--button {
   background-image: none;

   &:hover {
      background-color: #f0f0f0;
      cursor: auto;
   }
 }
}

.usa-table {
  caption {
    caption-side: top;
    color: #000;
  }
}

.usa-form-group {
  .usa-checkbox__label, .usa-radio__label {
    @include firefox-only {
      padding-left: 0rem;
      text-indent: 0rem;
    }
  }
}

.wizard-page {
  margin-bottom: 20px;
}

.nav-container {
  display: flex;
  @media not all and (min-width: 30em) {
    flex-direction: column;
  }
  & li .usa-button {
    margin-bottom: 0.25em;
  }
}

.stepper-row {
  display: flex;
  height: 6px;
  margin-top: 1rem;
}

.stepper-item {
  flex: 1;
  margin-left: 2px;
  margin-right: 2px;
  background-color: $color-light;
}

.stepper-item-active {
  background-color: $color-primary;
}

.stepper-info {
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  font-size: 1.2rem;
}

.stepper-info-step {
  display: inline-block;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 50%;
  text-align: center;
  background-color: $color-primary;
  color: #fff;
  font-weight: 500;
}

.stepper-info-total {
  font-weight: 400;
}

.stepper-info-text {
  font-weight: 600;
}
