.usa-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #000;
  border-radius: .25rem;
}

.usa-card-body {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.usa-card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  background-color: #f0f0f0;
}

.usa-card-title {
  margin-bottom: 0.75rem;
}

.usa-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.usa-page-link {
  border-radius: 0px;
  margin-right: 0px;
  margin-left: -2px;
}

.usa-page-item:first-child .usa-page-link {
  margin-left: 0px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.usa-page-item:last-child .usa-page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.usa-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.usa-card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.usa-nav-tabs .usa-nav-item {
  margin-bottom: -2px;
}

.usa-nav-tabs .usa-nav-link {
  display: block;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  color: #000;

  &:hover {
    text-decoration: none;
  }
}

.usa-nav-link.active {
  color: #495057;
  background-color: #fff;
  border: 1px solid #000;
  border-bottom: 0;
}
