<span id="l-{{ctx.component.key}}" class="usa-modal-label">
  {{ ctx.t(ctx.component.label) }}<span ref="modalLabelValue" class="usa-sr-only">. {{ ctx.previewText }}</span>
</span><br>
<div
  ref="modalMessageContainer"
  class="text-secondary-dark width-full formio-errors"
></div>
<span class="usa-sr-only" ref="modalPreviewLiveRegion" aria-live="assertive"></span>
<button lang="en" class="open-modal-button" ref="openModal" aria-labelledby="l-{{ctx.component.key}}">
  {{ ctx.previewText }}
</button>
