<label id="l-{{ctx.component.key}}" class="usa-modal-label">{{ ctx.t(ctx.component.label) }}.<span class="usa-sr-only">{{ ctx.previewText }}</span></label><br>
<div
  ref="modalMessageContainer"
  class="text-secondary-dark width-full formio-errors"
></div>
<button lang="en" class="btn btn-light btn-md open-modal-button" ref="openModal" aria-labelledby="l-{{ctx.component.key}}">
  {{ ctx.previewText }}
</button>
