<div  class="pagination-bottom">
    <div ref="paginationContainer" class="hidden">
        <button ref="firstPage" aria-label="to the first page" type="button" class="usa-button usa-button--unstyled padding-x-105 padding-y-05" style="outline: none; background-color: inherit; box-shadow: none">
            <span aria-hidden="true" style="font-size: x-large">&laquo;</span>
        </button>
        <button ref="prevPage" aria-label="previous page" type="button" class="usa-button usa-button--unstyled padding-x-105 padding-y-05" style="outline: none; background-color: inherit; box-shadow: none">
            <span aria-hidden="true" style="font-size: x-large">&lsaquo;</span>
        </button>
        <button ref="nextPage" aria-label="next page" type="button" class="usa-button usa-button--unstyled padding-x-105 padding-y-05" style="outline: none; background-color: inherit; box-shadow: none">
            <span aria-hidden="true" style="font-size: x-large">&rsaquo;</span>
        </button>
        <button ref="lastPage" aria-label="to the last page" type="button" class="usa-button usa-button--unstyled padding-x-105 padding-y-05" style="outline: none; background-color: inherit; box-shadow: none">
            <span aria-hidden="true" style="font-size: x-large">&raquo;</span>
        </button>
    </div>
</div>
