<div class="formio builder grid-row formbuilder">
  <div class="grid-col-4 mobile-lg:grid-col-3 tablet:grid-col-2 formcomponents">
    {{ctx.sidebar}}
  </div>
  <div class="grid-col-8 mobile-lg:grid-col-9 tablet:grid-col-10 formarea" ref="form">
    {{ctx.form}}
  </div>
</div>
