<div class="display-flex flex-justify-start flex-align-center margin-left-auto" role="toolbar" aria-label="Pagination" style="font-size: 13px" {{ctx.component.showAddBtn ? 'style="width: 95%;"' : 'style="width: 100%;"'}}>
    <div style="width: auto; margin-top: 0" class="input-group margin-x-1">
        <div class="display-flex">
            <span>Items per page:</span>
        </div>
        <select ref="itemsPerPage" class="margin-x-05" style="border: none;
        border-bottom: 1px solid black; outline: none; cursor: pointer; margin-right: 10px">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="-1">All</option>
        </select>
    </div>
    <span ref="itemsCount" class="items-count padding-05">
        {{ ctx.itemsCount }}
      </span>
    <button ref="firstPage" aria-label="to the first page" type="button" class="usa-button usa-button--unstyled padding-x-105 padding-y-05">
        <span aria-hidden="true" style="font-size: x-large">&laquo;</span>
    </button>
    <button ref="prevPage" aria-label="previous page" type="button" class="usa-button usa-button--unstyled padding-x-105 padding-y-05">
        <span aria-hidden="true" style="font-size: x-large">&lsaquo;</span>
    </button>
    <button ref="nextPage" aria-label="next page" type="button" class="usa-button usa-button--unstyled padding-x-105 padding-y-05">
        <span aria-hidden="true" style="font-size: x-large">&rsaquo;</span>
    </button>
    <button ref="lastPage"  aria-label="to the last page" type="button" class="usa-button usa-button--unstyled padding-x-105 padding-y-05">
        <span aria-hidden="true" style="font-size: x-large">&raquo;</span>
    </button>
</div>
