<ul class="padding-0 usa-list--unstyled wizard-nav-container" id="{{ ctx.wizardKey }}-nav">
  {% if (ctx.buttons.cancel) { %}
  <li>
    <button class="usa-button usa-button--secondary btn-wizard-nav-cancel" ref="{{ctx.wizardKey}}-cancel">{{ctx.t('cancel')}}</button>
  </li>
  {% } %}
  {% if (ctx.buttons.previous) { %}
  <li>
    <button class="usa-button usa-button--outline btn-wizard-nav-previous" ref="{{ctx.wizardKey}}-previous" aria-label="{{ctx.t('previous')}} button. Click to go back to the previous tab">{{ctx.t('previous')}}</button>
  </li>
  {% } %}
  {% if (ctx.buttons.next) { %}
  <li>
    <button class="usa-button btn-wizard-nav-next" ref="{{ctx.wizardKey}}-next" aria-label="{{ctx.t('next')}} button. Click to go to the next tab">{{ctx.t('next')}}</button>
  </li>
  {% } %}
  {% if (ctx.buttons.submit) { %}
  <li>
    <button class="usa-button btn-wizard-nav-submit" ref="{{ctx.wizardKey}}-submit" aria-label="{{ctx.t('submit')}} button. Click to submit the form">{{ctx.t('submit')}}</button>
  </li>
  {% } %}
</ul>
