{% if (ctx.labelMarkup && ctx.component.label) { %}
  {{ ctx.labelMarkup }}
{% } %}

<div
  ref="messageContainer"
  class="text-secondary-dark width-full margin-top-05 formio-errors"
></div>

{{ctx.element}}

{% if (ctx.component.description) { %}
  <div class="text-base-dark">
    <span id="d-{{ctx.instance.id}}-{{ctx.component.key}}">{{ctx.t(ctx.component.description)}}</span>
  </div>
{% } %}
