{% if (!ctx.label.hidden) { %}
  {{ ctx.render('label', ctx) }}
{% } %}

<div
  ref="messageContainer"
  class="text-secondary-dark width-full margin-top-05 formio-errors"
  {% if (ctx.component.type === 'textarea') { %}
  aria-live="assertive"
  {% } %}
></div>

{{ctx.element}}

{% if (ctx.component.description) { %}
  <div class="text-base">
    <span id="d-{{ctx.instance.id}}-{{ctx.component.key}}">{{ctx.t(ctx.component.description)}}</span>
  </div>
{% } %}
