<div class="formio-dialog formio-dialog-theme-default component-settings">
  <div class="formio-dialog-overlay" ref="dialogOverlay"></div>
  <div class="formio-dialog-content" role="dialog" ref="dialogContents" aria-labelledby="dl-{{ctx.instance.id}}">
    <button class="formio-dialog-close float-right" title="Close" aria-label="Close button." ref="dialogClose"></button>
  </div>
</div>
