<div class="formio-dialog formio-dialog-theme-default component-settings">
  <div class="formio-dialog-overlay" ref="dialogOverlay"></div>
  <div class="formio-dialog-content" ref="dialogContents">
    <div ref="dialogContents"></div>
    <button class="formio-dialog-close float-right usa-button" aria-label="close" ref="dialogClose"></button>
  </div>
</div>
