<div class="usa-checkbox">
  <{{ctx.input.type}}
    id="{{ctx.instance.id}}-{{ctx.component.key}}"
    ref="input"
    class="usa-checkbox__input "
    {% for (var attr in ctx.input.attr) { %}
    {{attr}}="{{ctx.input.attr[attr]}}"
    {% } %}
    {% if (ctx.checked) { %}checked=true{% } %}
    {% if (ctx.component.hideLabel) { %}aria-label="{{ctx.component.label}}"{% } %}
    aria-required="{{ctx.component.validate.required}}"
    aria-describedby="d-{{ctx.instance.id}}-{{ctx.component.key}}"
  ></{{ctx.input.type}}>
  <label
    class="{{ctx.input.labelClass}} usa-checkbox__label"
    for="{{ctx.instance.id}}-{{ctx.component.key}}"
  >
    {% if (!ctx.self.labelIsHidden()) { %}{{ctx.input.label}}{% } %}
    {% if (ctx.component.tooltip) { %}
    <i ref="tooltip" class="{{ctx.iconClass('question-sign')}} text-base"></i>
    {% } %}
    {{ctx.input.content}}
  </label>
</div>
