<div
  ref="messageContainer"
  class="text-secondary-dark width-full margin-top-05 formio-errors"
></div>

<div class="usa-checkbox">
  <{{ctx.input.type}}
    id="{{ctx.instance.id}}-{{ctx.component.key}}"
    ref="input"
    class="usa-checkbox__input {{ctx.component.tileView ? 'usa-checkbox__input--tile' : ''}}"
    {% for (var attr in ctx.input.attr) { %}
    {{attr}}="{{ctx.input.attr[attr]}}"
    {% } %}
    {% if (ctx.checked) { %}checked=true{% } %}
    aria-required="{{ctx.component.validate.required}}"
    {% if (ctx.component.description) { %}
    aria-describedby="d-{{ctx.instance.id}}-{{ctx.component.key}}"
    {% } %}
  ></{{ctx.input.type}}>
  <label
    ref="label"
    class="{{ctx.input.labelClass}} usa-checkbox__label padding-left-0 text-indent-0"
    for="{{ctx.instance.id}}-{{ctx.component.key}}"
  >
    {{ctx.input.label}}
    {{ctx.input.content}}
    {% if (ctx.component.tooltip) { %}
    <span ref="tooltip" class="{{ctx.iconClass('question-sign')}} text-base" tabindex="0"></span>
    {% } %}
  </label>
</div>

{% if (ctx.component.description) { %}
  <div class="text-base-dark">
    <span id="d-{{ctx.instance.id}}-{{ctx.component.key}}">{{ctx.t(ctx.component.description)}}</span>
  </div>
{% } %}
