<{{ctx.input.type}}
  ref="button"
  {% for (var attr in ctx.input.attr) { %}
  {{attr}}="{{ctx.input.attr[attr]}}"
  {% } %}
>
  {{ctx.input.content}}
  {% if (ctx.component.tooltip) { %}
    <i ref="tooltip" class="{{ctx.iconClass('question-sign')}} text-base" tabindex="0"></i>
  {% } %}
</{{ctx.input.type}}>
<div ref="buttonMessageContainer">
  <span class="display-block margin-top-1 margin-bottom-105" ref="buttonMessage"></span>
</div>
