<table class="usa-table{{!ctx.component.bordered ? ' usa-table--borderless' : ''}}">
  <caption>{{ctx.t(ctx.component.label)}}</caption>
  {% if (ctx.component.header && ctx.component.header.length > 0) { %}
  <thead>
    <tr>
      {% ctx.component.header.forEach(function(header) { %}
      <th scope="col">{{ctx.t(header)}}</th>
      {% }) %}
    </tr>
  </thead>
  {% } %}
  <tbody>
    {% ctx.tableComponents.forEach(function(row, rowIndex) { %}
    <tr ref="row-{{ctx.id}}">
      {% row.forEach(function(column, colIndex) { %}
      <td scope="col" ref="{{ctx.tableKey}}-{{rowIndex}}"{% if (ctx.cellClassName) { %} class="{{ctx.cellClassName}}"{% } %}>{{column}}</td>
      {% }) %}
    </tr>
    {% }) %}
  </tbody>
</table>
