<div class="usa-step-indicator usa-step-indicator--no-labels" aria-label="Wizard" id="{{ ctx.wizardKey }}-header">
  <ol class="usa-step-indicator__segments" tabindex="0" aria-label="Progress bar, Step {{ctx.currentPage + 1}} of {{ctx.panels.length}}, {{ctx.panels[ctx.currentPage].title}}">
    {% ctx.panels.forEach(function(panel, index) { %}
    <li data-index="{{index}}" class="usa-step-indicator__segment {{ctx.currentPage === index ? 'usa-step-indicator__segment--current' : ''}} {{ctx.currentPage > index ? 'usa-step-indicator__segment--complete' : ''}}"></li>
    {% }) %}
  </ol>
  <div class="usa-step-indicator__header">
    <div class="usa-step-indicator__heading">
      <span class="usa-sr-only">Progress bar, step</span>
      <span class="usa-step-indicator__heading-counter">
        <span class="usa-step-indicator__current-step">{{ctx.currentPage + 1}}</span>
        <span class="usa-step-indicator__total-steps">of {{ctx.panels.length}}</span>
      </span>
      <span class="usa-step-indicator__heading-text">{{ctx.panels[ctx.currentPage].title}}</span>
    </div>
  </div>
  <div class="usa-sr-only" ref="{{ ctx.wizardKey }}-progressbar" tabindex="-1">Progress bar, Step {{ctx.currentPage + 1}} of {{ctx.panels.length}}, {{ctx.panels[ctx.currentPage].title}}</div>
</div>
