<nav aria-label="navigation" id="{{ ctx.wizardKey }}-header">
  <ul class="usa-list usa-pagination grid-row padding-left-0" role="tablist">
    {% ctx.panels.forEach(function(panel, index) { %}
    <li class="usa-page-item grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-4 desktop:grid-col display-flex flex-align-stretch">
      <button data-index="{{index}}" class="usa-button{{ctx.currentPage === index ? '' : ' usa-button--outline'}} usa-page-link flex-fill" role="tab" ref="{{ctx.wizardKey}}-link">{{panel.title}}</button>
    </li>
    {% }) %}
  </ul>
</nav>
