<div
  class="usa-alert usa-alert--info usa-alert--no-icon no-drag"
  style="text-align:center;"
  role="alert"
  data-noattach="true"
  data-position="{{ctx.position}}"
>
  <div clas="usa-alert__body">
    {{ctx.t('Drag and Drop a form component')}}
  </div>
</div>
