<div class="{{ctx.classes}}" ref="webform" novalidate>{{ctx.children}}</div>
<!-- Please reach out to Form.io to purchase an Enterprise License. -->
{% if (!Formio || !Formio.license) { %}
    <small style="float:right;">powered by &nbsp;<a target="_blank" href="https://form.io"><img style="height:20px;float:right;" src="https://help.form.io/assets/formio-logo.png" /></a></small>
{% } %}
<!-- -------------------------------------------------------------- -->
