<div class="{{ctx.classes}}" ref="webform" novalidate>{{ctx.children}}</div>
<!-- IMPORTANT NOTICE: To remove this section, you must have an enterprise license, or according to OSL 3.0, you must disclose that you removed it. -->
<small style="float:right;">powered by &nbsp;<a target="_blank" href="https://form.io"><img style="height:20px;float:right;" src="https://help.form.io/assets/formio-logo.png" /></a></small>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------- -->
